<!doctype html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="assets/style.css">
	<link rel="stylesheet" type="text/css" href="assets/select2.css">
</head>
<title>Eat Well</title>
<body>
	<main id="app" class="container">
		<section id="title" class="banner">
			<div id="title-inner" class="col-md-12 col-xs-12 banner-inner">
				<div id="title-icon">
				</div>
				<div id="title-name">
					<h1>Eat Well</h1>
				</div>
			</div>
		</section>
		<section id="food-consumption" class="prominent-section">
			<section id="day-section" class="col-xs-12 col-sm-12 col-md-4 time-section">
				<div id="day-view" class="content-div">
					<h2>Row of buttons</h2>
					<div id="nav-bar" class="btn-group">
						<button id="previous-day-button" class="btn btn-default" type="button"><</button>	
						<button id="goto-today-button" class="btn btn-default">Today</button>
						<button id="next-day-button" class="btn btn-default">></button>
					</div>
					<select id="food-search" class="select2-box" style="width: 100%"> <!-- Select2 Box does not work with CSS width set -->
					</select>
					<h3>Eaten</h3>
					<div id="food-list-div">
						<ul id="food-list">
						</ul>
					</div>
					<div id="filter-bar" class="btn-group">
						<h3>Filter buttons</h3>
					</div>
				</div>
				<div id="day-chart" class="content-div">
					<h2>Day Chart</h2>
				</div>
			</section>
			<section id="week-section" class="col-xs-12 col-sm-12 col-md-4 time-section">
				<div id="week-view" class="content-div">
					<h2>Week View</h2>
				</div>
				<div id="week-chart" class="content-div">
					<h2>Week Chart</h2>
				</div>
			</section>
			<section id="month-section" class="col-xs-12 col-sm-12 col-md-4 time-section">
				<div id="month-view" class="content-div">
					<h2>Month View</h2>
				</div>
				<div id="month-chart" class="content-div">
					<h2>Month Chart</h2>
				</div>
			</section>
		</section>
		<section id="supplementary-info" class="select2-result">
			<div id="news-articles" class="col-xs-12 col-sm-6 content-div">
				<h2>Articles</h2>
			</div>
			<div id="recipes" class="col-xs-12 col-sm-6 content-div">
				<h2>Recipes</h2>
			</div>
		</section>
	</main>
	<script id="consumed-food-template" type="text/template">
		<div class="consumed-food-item">
			<div class="food-result-main-content">
				<div class="food-result-name">
					<%= name %>
				</div>
				<div class="food-result-detail">
					<%= quantity + ' ' + unit %>
				</div>
			</div>
		</div>
	</script>
	<script id="food-result" type="text/template">
		<div class="food-result">
			<div class="food-result-main-content">
				<div class="food-result-name">
					<%= name %>
				</div>
				<div class="food-result-detail">
					<%= quantity + ' ' + unit %>
				</div>
			</div>
		</div>
	</script>
	<script src="js/lib/jquery-1.11.3.js"></script>
	<script src="js/lib/underscore.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script src="js/lib/backbone.localStorage.js"></script>
	<script src="js/models.js"></script>
	<script src="js/collections.js"></script>
	<script src="js/router.js"></script>
	<script src="js/views.js"></script>
	<script src="js/lib/select2.js"></script>
	<script src="js/select-init.js"></script>
</body>


</html>
	
<!-- Needs Bootstrap, D3 graphs/calendar or some other graphing framework, Underscore.js, Backbone.js, Firebase, BackboneFire-->
<!-- Use npm/grunt for images and js minification -->