<!doctype html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="assets/style.css">
	<link rel="stylesheet" type="text/css" href="assets/select2.css">
</head>
<title>Eat Well</title>
<body>
	<main id="app" class="container">
		<section id="title" class="banner">
			<div id="title-inner" class="col-md-12 col-xs-12 banner-inner">
				<div id="title-icon">
					<img src="assets/images/face.png" alt="Eat Well"/>
				</div>
				<div id="title-name">
					<h1>Eat Well</h1>
				</div>
			</div>
			<div id="intro" class="col-md-12 col-xs-12">
				<h3>You are what you eat! <br> Record what you eat below and see the overall composition of what you're eating.</h3>
			</div>
		</section>
		<section id="food-consumption" class="prominent-section">
			<section id="day-section" class="col-xs-12 col-sm-12 col-md-4 time-section">
				<h2 id="day-heading" class="section-heading"></h2>
				<div id="day-section-main" class="content-pair">
					<div id="day-view" class="content-div">
						<div id="nav-bar" class="btn-group">
							<button id="previous-day-button" class="btn btn-default" type="button"><</button>	
							<button id="goto-today-button" class="btn btn-default">Today</button>
							<button id="next-day-button" class="btn btn-default">></button>
						</div>
						<select id="food-search" class="select2-box" style="width: 100%"> <!-- Select2 Box does not work with CSS width set -->
						</select>
						<h3>Consumed Foods</h3>
						<div id="food-list-div">
							<ul id="food-list">
							</ul>
						</div>
					</div>
					<div id="day-chart" class="content-div chart-div">
<!-- 						<h2>Day Chart</h2>
 -->						<div id="day-chart-graphic" class="chart-graphic">
						</div>
						<div id="day-chart-legend" class="legend">
							<div class="legend-carbohydrates legend-section">
								<svg width="30" height="20"><rect x="0" y="0" width="30" height="20" fill="#F55" rx="2"><rect></svg>
								<span class="carb-text legend-text">Carbohydrates</span>
							</div>
							<div class="legend-fat legend-section">
								<svg width="30" height="20"><rect x="0" y="0" width="30" height="20" fill="#55F" rx="2"><rect></svg>
								<span class="fat-text legend-text">Fat</span>
							</div>
							<div class="legend-protein legend-section">
								<svg width="30" height="20"><rect x="0" y="0" width="30" height="20" fill="#5F5" rx="2"><rect></svg>
								<span class="protein-text legend-text">Protein</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="week-section" class="col-xs-12 col-sm-12 col-md-4 time-section">
				<h2 id="week-heading" class="section-heading"></h2>
				<div id="week-section-main" class="content-pair">
					<div id="week-view" class="content-div">
						<div id="week-day-list">
							<div id="sunday" class="week-day-list-item">
							</div>
							<div id="monday" class="week-day-list-item">
							</div>
							<div id="tuesday" class="week-day-list-item">
							</div>
							<div id="wednesday" class="week-day-list-item">
							</div>
							<div id="thursday" class="week-day-list-item">
							</div>
							<div id="friday" class="week-day-list-item">
							</div>
							<div id="saturday" class="week-day-list-item">
							</div>
						</div>
					</div>
					<div id="week-chart" class="content-div chart-div">
<!-- 						<h2>Week Chart</h2>
 -->						<div id="week-chart-graphic" class="chart-graphic">
						</div>
						<div id="day-chart-legend" class="legend">
							<div class="legend-carbohydrates legend-section">
								<svg width="30" height="20"><rect x="0" y="0" width="30" height="20" fill="#F55" rx="2"><rect></svg>
								<span class="carb-text legend-text">Carbohydrates</span>
							</div>
							<div class="legend-fat legend-section">
								<svg width="30" height="20"><rect x="0" y="0" width="30" height="20" fill="#55F" rx="2"><rect></svg>
								<span class="fat-text legend-text">Fat</span>
							</div>
							<div class="legend-protein legend-section">
								<svg width="30" height="20"><rect x="0" y="0" width="30" height="20" fill="#5F5" rx="2"><rect></svg>
								<span class="protein-text legend-text">Protein</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="month-section" class="col-xs-12 col-sm-12 col-md-4 time-section">
				<h2 id="month-heading" class="section-heading"></h2>
				<div id="month-section-main" class="content-pair">
					<div id="month-view" class="content-div">
						<svg id="month-svg" class="month-svg"></svg>
					</div>
					<div id="month-chart" class="content-div chart-div">
<!-- 						<h2>Month Chart</h2>
 -->						<div id="month-chart-graphic" class="chart-graphic">
						</div>
						<div id="day-chart-legend" class="legend">
							<div class="legend-carbohydrates legend-section">
								<svg width="30" height="20"><rect x="0" y="0" width="30" height="20" fill="#F55" rx="2"><rect></svg>
								<span class="carb-text legend-text">Carbohydrates</span>
							</div>
							<div class="legend-fat legend-section">
								<svg width="30" height="20"><rect x="0" y="0" width="30" height="20" fill="#55F" rx="2"><rect></svg>
								<span class="fat-text legend-text">Fat</span>
							</div>
							<div class="legend-protein legend-section">
								<svg width="30" height="20"><rect x="0" y="0" width="30" height="20" fill="#5F5" rx="2"><rect></svg>
								<span class="protein-text legend-text">Protein</span>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
		<section id="supplementary-info" class="select2-result">
			<div id="article-list" class="col-xs-12 col-sm-6 content-div">
				<h2>Food Articles</h2>
				<ul></ul>
				<div id="articles-attribution">
				</div>
			</div>
			<div id="recipe-list" class="col-xs-12 col-sm-6 content-div">
				<h2>Popular Recipes</h2>
				<ul></ul>
				<div id="recipes-attribution">
				</div>
			</div>
		</section>
	</main>
	<script id="consumed-food-template" type="text/template">
		<div class="consumed-food-item">
			<div class="food-result-main-content">
				<div class="food-result-name">
					<%= name %>
				</div>
				<div class="food-result-detail">
					<%= quantity + ' ' + unit %>
				</div>
			</div>
			<button class="btn btn-default remove-food-button">×</button>
		</div>
	</script>
	<script id="food-result" type="text/template">
		<div class="food-result">
			<div class="food-result-main-content">
				<div class="food-result-name">
					<%= name %>
				</div>
				<div class="food-result-detail">
					<%= quantity + ' ' + unit %>
				</div>
			</div>
		</div>
	</script>
	<script id="week-day-template" type="text/template">
		<div class="week-day">
			<div class="week-day-headline">
				<span class="week-day-text"><%= name %></span>
				<span class="calories-text"><%= calories ? calories.toFixed(0) : 0 %> calories</span>
			</div>
			<div class="week-day-detail">
				<span class="carb-text"><%= carbohydrates ? carbohydrates.toFixed(1) : 0 %> carbohydrates</span>
				<span class="fat-text"><%= fat ? fat.toFixed(1) : 0 %> fat</span>
				<span class="protein-text"><%= protein ? protein.toFixed(1) : 0 %> protein</span>
			</div>
		</div>
	</script>
	<script id="article-template" type="text/template">
		<div class="article">
			<span class="headline">
				<a href="<%= url %>">
					<%= headline %>
				</a>
			</span>
			<span class="snippet">
				– <%= snippet %>
			</span>
		</div>
	</script>
	<script id="recipe-template" type="text/template">
		<div class="recipe">
			<span class="title">
				<a href="<%= url %>">
					<%= title %>
				</a>
			</span>
			<span class="rating">
				– Rank: <%= rating %>
			</span>
		</div>
	</script>
	<script src="js/lib/jquery-1.11.3.js"></script>
	<script src="js/lib/jquery-ui.js"></script>
	<script src="js/lib/underscore.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script src="js/lib/backbone.localStorage.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
	<script src="js/lib/select2.js"></script>
	<script src="js/select-init.js"></script>
	<script src="js/lib/raphael.js"></script>
	<script src="js/lib/d3.js"></script>
	<script src="js/models.js"></script>
	<script src="js/collections.js"></script>
	<script src="js/router.js"></script>
	<script src="js/views.js"></script>
</body>


</html>
	
<!-- Needs Bootstrap, D3 graphs/calendar or some other graphing framework, Underscore.js, Backbone.js, Firebase, BackboneFire-->
<!-- Use npm/grunt for images and js minification -->