body {
	background-color: #111130;
	color: #ccc;
}

section, div {
	background-color: #111130;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a:link {
	color: #D80;
}

a:hover {
	color: #FA2;
}

a:visited {
	color: #A60;
}

a:active {
	color: #FC7;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 34px;
	font-weight: 400;
}

h1, h2, h3 {
	margin: 2px;
	color: #ccc;
}

h2 {
	margin: 0 auto 10px auto;
}

.month-svg text:hover, .month-svg circle:hover {
	cursor: pointer;
}

.btn {
	color: #111130;
}

.btn:hover {
	color: #222260;
}

.row > div {
	height: 100%;
	max-height: 100%;
}

#nav-bar {
	margin-top: 30px;
}

.banner {
	text-align: center;
	background-color: #111130;
}

.prominent-section {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.banner-inner {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#title-icon {
	width: 20%;
}

#title-name {
	margin: auto 0 auto 10px;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.time-section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-bottom: 10px;
	box-shadow: 0 1px 0 0 #ccc;
}

#day-view {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.content-div {
	padding: 5px 5px;
	overflow: scroll;
	min-height: 400px;
	text-align: center;
}

.consumed-food-list-item {
	display: block;
}

.consumed-food-list-item > .consumed-food-item > .food-result-main-content {
	margin: 1px;
	box-shadow: 0 0.5px 0 0 #ccc;
}

.consumed-food-list-item:last-child > .consumed-food-item > .food-result-main-content {
	box-shadow: 0 0 0 0 #ccc;
}

.consumed-food-item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.food-result-main-content {
	width: calc(100% - 40px);
	text-align: left;
}

.remove-food-button {
	width: 40px;
	text-align: center;
	font-size: larger;
}

.banner-inner {
}

.select2-search, .select2-search input, .select2-results, .select2 {
	background-color: #225;
	color: #ccc;
}

#select2-food-search-results {
	max-height: 300px;
}

#food-list {
	padding: 2px;
	margin: 0;
}

#food-search {
	height: 40px;
}

#nav-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 40px;
}

#week-chart {
	background-color: #111130;
}

.section-heading {
	text-align: center;
}

.week-day-list-item:hover {
	cursor: pointer;
}

#day-chart-graphic, #week-chart-graphic, #month-chart-graphic {
	min-height: 300px;
	height: 100%;
	width: 100%;
	margin: auto;
}

#week-day-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.legend {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 400px;
	margin: 0 auto;
}

.legend-text {
	margin-left: 5px;
	display: inline;
}

.legend-section {
	display: flex;
	flex-direction: row;
	margin: 5px;
}

.chart-div {
	display: flex;
	flex-direction: column;
}

.week-day-list-item {
	height: calc(100% / 7);
	margin: 1px;
	box-shadow: 0 0.5px 0 0 #ccc;
}

.week-day-list-item:last-child {
	box-shadow: 0 0 0 0 #ccc;
}

#food-list-div {
	overflow: scroll;
}

.calories-text {
	color: #D80;
}

.carb-text {
	color: #F55;
}

.fat-text {
	color: #55F;
}

.protein-text {
	color: #5F5;
}

.week-day-headline, .week-day-detail {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.week-day-headline {
	font-size: 22px;
}

.week-day-detail {
	font-size: 16px;
}

.week-day-text {
	font-weight: 500;
}

#month-svg {
	width: 100%;
	height: 380px;
}

.article {
	margin-bottom: 5px;
}

.recipe {
	margin-bottom: 15px;
}

#attribution {
	margin-top: 20px;
	text-align: center;
}

ul {
	padding: 0 5px;
}

li {
	display: block;
}

#supplementary-info {
	margin-top: 20px;
}

/*Responsive media queries*/
@media screen and (min-width: 992px) {
	.prominent-section {
		flex-direction: row;
		flex-wrap: wrap;
	}
	#month-section {
		order: 1;
	}
	#day-section {
		order: 2;
	}
	#week-section {
		order: 3;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.prominent-section {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.content-pair {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.content-pair > div {
		width: 50%;
	}
}
